<h2>Remove Inventory</h2>
<p>This page lets you remove inventory</p><h1>Update the quote with an id of {{this.id}}</h1>

<form data-id="{{this.id}}" class="update-form">

  <div class="form-group">
    <label for="auth">Delete:</label>
    <input type="checkbox" id="auth" name="author" value="{{id, gender, style, size}}">
  </div>

  <div class="form-group">
    <label for="quo">Delete:</label>
    <textarea id="quo" name="quote" rows="8" cols="40">{{id, gendeer. style, size}}</textarea>
  </div>

  <button type="submit">Remove Inventory</button>
</form>